node_modules
package-lock.json
TypeScript/task_2/dist/bundle.js
TypeScript/task_2/dist/index.html
TypeScript/task_0/dist/bundle.js
TypeScript/task_0/dist/index.html
Webpack/task_1/public/bundle.js
Webpack/task_1/public/bundle.js.LICENSE.txt
bundle.js
bundle.js.LICENSE.txt