/* #################### */
/* Global */
/* #################### */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family:  sans-serif;
	outline: none;
	border: none;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
}

:root {
  --red: #E0354B;
}


.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 30vmin;
}

.App-header {
  color: var(--red);
  display: flex;
  align-items: center;
  border-bottom: 5px solid var(--red);
  font-size: 1.3rem;
}

.App-body {
  text-align: left;
  font-size: large;
  margin: 50px;
}

.App-footer {
	display: flex;
	justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  padding: 20px;
  width: 100%;
  border-top: 5px solid var(--red);
  font-style: italic;
  font-size: 1.2rem;
}